{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar %} {{ mopa_bootstrap_navbar('frontendNavbar') }} {% endblock navbar %}

{% block head_style %}
  

{% stylesheets
       '@TxinbometroBundle/Resources/public/less/dafuermopabootstrap.less'
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/txinbometro/css/main.css') }}" rel="stylesheet" type="text/css" /></link>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css" /></link>
    {% endstylesheets %}
{#    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dafuergetoptgenerator/css/reset-bootstrap-icons.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/manymulesfontawesome/css/font-awesome.css') }}" />
#}
{% endblock %}


{% block container_class %}container{% endblock container_class %}

{% block title %}Txinbometro{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

    <div class="hero-unit" style="padding-top: 30px;">
        <center>
            <div class="page-header">
                <h1>Txinbometro</h1>
                <h2 style="color:gray">Controla y gestiona los gastos de tu vehiculo</h2>
            </div>         
        </center>
        {% block bundle_content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}<div class="hero-unit" style="padding: 0.5em;">&nbsp;<span class="pull-right">Dafuer - 2012 &copy;</span></div>{% endblock footer %}

{% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
   <script src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript"></script>
	  	
   <script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
   <script src="{{ asset('bundles/txinbometro/javascript/comun.js') }}" type="text/javascript"></script>
	  	
   <script src="{{ asset('bundles/txinbometro/javascript/gasolina/gasolinaForm.js') }}" type="text/javascript"></script>   
   <script src="{{ asset('bundles/txinbometro/javascript/gasto/gastoForm.js') }}" type="text/javascript"></script>   
   <script src="{{ asset('bundles/txinbometro/javascript/vehiculo/vehiculoForm.js') }}" type="text/javascript"></script>   
{% endjavascripts %}
{% endblock foot_script %}