{# src/DS/TxinbometroBundle/Resources/views/Gasolina/index.html.twig #}


{% extends "TxinbometroBundle::layout.html.twig" %}


{% block bundle_content %}
<h1>Gasolina list</h1>

<ul>
    <li>
        <a href="{{ path('txinbometro_gasolina_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Km</th>
            <th>Fecha</th>
            <th>Litros</th>
            <th>Coste</th>
            <th>Tipo</th>
            <th>Gasolinera</th>
            <th>Comentario</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('txinbometro_gasolina_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.km }}</td>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.litros }}</td>
            <td>{{ entity.coste }}</td>
            <td>{{ entity.tipo | capitalize}}</td>
            <td>{{ entity.gasolinera }}</td>
            <td>{{ entity.comentario | raw }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('txinbometro_gasolina_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('txinbometro_gasolina_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">No hay repostajes que mostrar</td>
        </tr>        
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{#

{% extends "TxinbometroBundle::layout.html.twig" %}

{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Gasolina', 'subopcion': '' } %} {% endblock %}

{% block body %}
<h1>Gasolina list</h1>

<ul>
    <li>
        <a href="{{ path('txinbometro_gasolina_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Km</th>
            <th>Fecha</th>
            <th>Litros</th>
            <th>Coste</th>
            <th>Tipo</th>
            <th>Gasolinera</th>
            <th>Comentario</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('txinbometro_gasolina_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.km }}</td>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.litros }}</td>
            <td>{{ entity.coste }}</td>
            <td>{{ entity.tipo | capitalize}}</td>
            <td>{{ entity.gasolinera }}</td>
            <td>{{ entity.comentario | raw }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('txinbometro_gasolina_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('txinbometro_gasolina_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">No hay repostajes que mostrar</td>
        </tr>        
    {% endfor %}
    </tbody>
</table>


{% endblock %}

#}