{# src/DS/TxinbometroBundle/Resources/views/Gasolina/show.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block body %}
<h1>Gasolina</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Km</th>                <td>{{ entity.km }}</td>        </tr>
        <tr>
            <th>Fecha</th>                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Litros</th>                <td>{{ entity.litros }}</td>        </tr>
        <tr>
            <th>Coste</th>                <td>{{ entity.coste }}</td>        </tr>
        <tr>
            <th>Tipo</th>                <td>{{ entity.tipo }}</td>        </tr>
        <tr>
            <th>Gasolinera</th>                <td>{{ entity.gasolinera }}</td>        </tr>
        <tr>
            <th>Comentario</th>                <td>{{ entity.comentario }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('gasolina') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gasolina_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('gasolina_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}