{# src/DS/TxinbometroBundle/Resources/views/Gasolina/show.html.twig #}


{% extends "TxinbometroBundle::layout.html.twig" %}


{% block bundle_content %}
<h1>Gasolina</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Km</th>                <td>{{ entity.km }}</td>        </tr>
        <tr>
            <th>Fecha</th>                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Litros</th>                <td>{{ entity.litros }}</td>        </tr>
        <tr>
            <th>Coste</th>                <td>{{ entity.coste }}</td>        </tr>
        <tr>
            <th>Tipo</th>                <td>{{ entity.tipo | capitalize }}</td>        </tr>
        <tr>
            <th>Gasolinera</th>                <td>{{ entity.gasolinera }}</td>        </tr>
        <tr>
            <th>Comentario</th>                <td>{{ entity.comentario | raw }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_gasolina') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('txinbometro_gasolina_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('txinbometro_gasolina_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>


<BR/>
<h3>Resumen</h3>
{% if consumoObject.consumo.total.maximo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ datos.consumo | number_format(2) }} es el m&aacute;ximo de consumo! <BR/>
{% elseif consumoObject.consumo[datos.tipo].maximo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ datos.consumo | number_format(2) }} es el m&aacute;ximo de consumo en {{datos.tipo}}! <BR/>
{% endif %}

{% if consumoObject.consumo.total.minimo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ datos.consumo | number_format(2) }} es el m&iacute;nimo de consumo! <BR/>
{% elseif consumoObject.consumo[datos.tipo].minimo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ datos.consumo | number_format(2) }} es el m&iacute;nimo de consumo en {{datos.tipo}}! <BR/>
{% endif %}



{% if consumoObject.frecuencia.total.maximo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | number_format(2) }} es el repostaje para el que m&aacute;s has esperado! <BR/>
{% elseif consumoObject.frecuencia[datos.tipo].maximo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | number_format(2) }} es el repostaje para el que m&aacute;s has esperado en {{datos.tipo}}! <BR/>
{% endif %}

{% if consumoObject.frecuencia.total.minimo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | number_format(2) }} es el repostaje m&aacute;s r&aacute;pido! <BR/>
{% elseif consumoObject.frecuencia[datos.tipo].minimo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | number_format(2) }} es el repostaje m&aacute;s r&aacute;pido en {{datos.tipo}}! <BR/>
{% endif %}



{% if consumoObject.costeLitro.total.maximo == entity.costeLitro %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ entity.costeLitro | number_format(2) }} es el m&aacute;ximo precio de la gasolina! <BR/>
{% endif %}

{% if consumoObject.costeLitro.total.minimo == entity.costeLitro %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ entity.costeLitro | number_format(2) }} es el m&iacute;nimo precio de la gasolina! <BR/>
{% endif %}



<BR/>
<table class="record_properties">
    <thead>
        <tr>
            <th> </th>
            <th>Media {{datos.tipo}}</th>
            <th>Dep&oacute;sito actual</th>
            <th>Media general</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Consumo</td>
            <td>{{ consumoObject.consumo[datos.tipo].medio | number_format(2) }}</td>
            <td>
                <img src="{{ consumoObject.consumo[datos.tipo].medio < datos.consumo? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
                &nbsp;&nbsp;&nbsp;{{ datos.consumo | number_format(2) }}&nbsp;&nbsp;&nbsp;
                <img src="{{ consumoObject.consumo.total.medio < datos.consumo? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
            </td>          
            <td>{{ consumoObject.consumo.total.medio | number_format(2) }}</td>
        </tr>     
        <tr>
            <td>Duracion en dias</td>
            <td>{{ consumoObject.frecuencia[datos.tipo].medio | number_format(2) }}</td>
            <td>
                <img src="{{ consumoObject.frecuencia[datos.tipo].medio < datos.dias? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
                &nbsp;&nbsp;&nbsp;{{ datos.dias | number_format(2) }}&nbsp;&nbsp;&nbsp;
                <img src="{{ consumoObject.frecuencia.total.medio < datos.dias? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
            </td>     
            <td>{{ consumoObject.frecuencia.total.medio | number_format(2) }}</td>
        </tr>          
    </tbody>
</table>

{% endblock %}

{#

{% extends "TxinbometroBundle::layout.html.twig" %}
{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Gasolina', 'subopcion': '' } %} {% endblock %}

{% block body %}
<h1>Gasolina</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Km</th>                <td>{{ entity.km }}</td>        </tr>
        <tr>
            <th>Fecha</th>                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Litros</th>                <td>{{ entity.litros }}</td>        </tr>
        <tr>
            <th>Coste</th>                <td>{{ entity.coste }}</td>        </tr>
        <tr>
            <th>Tipo</th>                <td>{{ entity.tipo | capitalize }}</td>        </tr>
        <tr>
            <th>Gasolinera</th>                <td>{{ entity.gasolinera }}</td>        </tr>
        <tr>
            <th>Comentario</th>                <td>{{ entity.comentario | raw }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_gasolina') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('txinbometro_gasolina_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('txinbometro_gasolina_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>


<BR/>
<h3>Resumen</h3>
{% if consumoObject.consumo.total.maximo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ datos.consumo | round(2) }} es el m&aacute;ximo de consumo! <BR/>
{% elseif consumoObject.consumo[datos.tipo].maximo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ datos.consumo | round(2) }} es el m&aacute;ximo de consumo en {{datos.tipo}}! <BR/>
{% endif %}

{% if consumoObject.consumo.total.minimo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ datos.consumo | round(2) }} es el m&iacute;nimo de consumo! <BR/>
{% elseif consumoObject.consumo[datos.tipo].minimo == datos.consumo %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ datos.consumo | round(2) }} es el m&iacute;nimo de consumo en {{datos.tipo}}! <BR/>
{% endif %}



{% if consumoObject.frecuencia.total.maximo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | round(2) }} es el repostaje para el que m&aacute;s has esperado! <BR/>
{% elseif consumoObject.frecuencia[datos.tipo].maximo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | round(2) }} es el repostaje para el que m&aacute;s has esperado en {{datos.tipo}}! <BR/>
{% endif %}

{% if consumoObject.frecuencia.total.minimo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | round(2) }} es el repostaje m&aacute;s r&aacute;pido! <BR/>
{% elseif consumoObject.frecuencia[datos.tipo].minimo == datos.dias %}
<img src="{{ asset('bundles/txinbometro/images/flechaAzulDerecha.png') }}" /></img>{{ datos.dias | round(2) }} es el repostaje m&aacute;s r&aacute;pido en {{datos.tipo}}! <BR/>
{% endif %}



{% if consumoObject.costeLitro.total.maximo == entity.costeLitro %}
<img src="{{ asset('bundles/txinbometro/images/flechaRojoArriba.png') }}" /></img>{{ entity.costeLitro | round(2) }} es el m&aacute;ximo precio de la gasolina! <BR/>
{% endif %}

{% if consumoObject.costeLitro.total.minimo == entity.costeLitro %}
<img src="{{ asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>{{ entity.costeLitro | round(2) }} es el m&iacute;nimo precio de la gasolina! <BR/>
{% endif %}



<BR/>
<table class="record_properties">
    <thead>
        <tr>
            <th> </th>
            <th>Media {{datos.tipo}}</th>
            <th>Dep&oacute;sito actual</th>
            <th>Media general</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Consumo</td>
            <td>{{ consumoObject.consumo[datos.tipo].medio | round(2) }}</td>
            <td>
                <img src="{{ consumoObject.consumo[datos.tipo].medio < datos.consumo? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
                &nbsp;&nbsp;&nbsp;{{ datos.consumo | round(2) }}&nbsp;&nbsp;&nbsp;
                <img src="{{ consumoObject.consumo.total.medio < datos.consumo? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
            </td>          
            <td>{{ consumoObject.consumo.total.medio | round(2) }}</td>
        </tr>     
        <tr>
            <td>Duracion en dias</td>
            <td>{{ consumoObject.frecuencia[datos.tipo].medio | round(2) }}</td>
            <td>
                <img src="{{ consumoObject.frecuencia[datos.tipo].medio < datos.dias? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
                &nbsp;&nbsp;&nbsp;{{ datos.dias | round(2) }}&nbsp;&nbsp;&nbsp;
                <img src="{{ consumoObject.frecuencia.total.medio < datos.dias? asset('bundles/txinbometro/images/flechaRojoArriba.png'):asset('bundles/txinbometro/images/flechaVerdeAbajo.png') }}" /></img>
            </td>     
            <td>{{ consumoObject.frecuencia.total.medio | round(2) }}</td>
        </tr>          
    </tbody>
</table>

{% endblock %}

#}