{# src/DS/TxinbometroBundle/Resources/views/Vehiculo/edit.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Vehiculo', 'subopcion': 'none' } %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" /></link>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('/js/jquery-1.6.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/txinbometro/javascript/comun.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/txinbometro/javascript/vehiculo/vehiculoForm.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<h1>Vehiculo edit</h1>

<form action="{{ path('txinbometro_vehiculo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_vehiculo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('txinbometro_vehiculo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}