{# src/DS/TxinbometroBundle/Resources/views/Vehiculo/index.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Vehiculo', 'subopcion': 'none' } %} {% endblock %}

{% block body %}
<h1>Vehiculo list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Compra</th>
            <th>Coste</th>
            <th>Km_iniciales</th>
            <th>Capacidad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('txinbometro_vehiculo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.tipo }}</td>
            <td>{{ entity.marca }}</td>
            <td>{{ entity.modelo }}</td>
            <td>{{ entity.compra|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.coste }}</td>
            <td>{{ entity.kminiciales }}</td>
            <td>{{ entity.capacidad }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('txinbometro_vehiculo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('txinbometro_vehiculo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('txinbometro_vehiculo_select', { 'id': entity.id }) }}">select</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('txinbometro_vehiculo_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}