{# src/DS/TxinbometroBundle/Resources/views/Gasto/index.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block body %}
<h1>Gasto list</h1>

<ul>
    <li>
        <a href="{{ path('txinbometro_gasto_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Km</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Coste</th>
            <th>Comentario</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('txinbometro_gasto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.km }}</td>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.tipo }}</td>
            <td>{{ entity.coste }}</td>
            <td>{{ entity.comentario  }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('txinbometro_gasto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('txinbometro_gasto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No hay gastos que mostrar</td>
        </tr>        
    {% endfor %}
    </tbody>
</table>


{% endblock %}