{# src/DS/TxinbometroBundle/Resources/views/Gasto/new.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Gasto', 'subopcion': '' } %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" /></link>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-1.6.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/txinbometro/javascript/comun.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/txinbometro/javascript/gasto/gastoForm.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<h1>Gasto creation</h1>

<form action="{{ path('txinbometro_gasto_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_gasto') }}">
            Back to the list
        </a>
    </li>
</ul>

{{ tinymce_init() }}
{% endblock %}